html, body, #root, #app{
    height: 100%;
    width: 100%;
    margin: 0;
}

td,th {
    border: 1px solid rgba(200, 200, 200, 1) !important;
}

td:not(:last-child),
th:not(:last-child){
    border-right: none !important;
}

tr:not(:first-child) td,
tr:not(:first-child) th{
    border-top: none !important;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

table tr:last-child td:first-child{
    border-bottom-left-radius: 4px;
}

table tr:last-child td:last-child{
    border-bottom-right-radius: 4px;
}

table tr:first-child th:first-child{
    border-top-left-radius: 4px;
}

table tr:first-child th:last-child{
    border-top-right-radius: 4px;
}

.table-wrapper{
    margin: 1rem;
    width: fit-content;
}

#settings-bar,
#toolbar{
    display: flex;
    justify-content: start;
}

#settings-bar label{
    display: block;
}

#settings-bar > *,
#toolbar > *{
    margin-right: 1rem;
}

#toolbar{
    position: sticky;
    top: 0px;
    padding: 1rem;
    margin: 1rem 0;
}

#main-app-component{
    display: flex;
    flex-flow: column;
    height: 100%;
}

#entry-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

#entry-wrapper{
    width: 100%;
    margin: auto 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
}

#entry-wrapper > *{
    margin: 1rem;
}

#footer{
    text-align: center;
}

.input-group-wrapper > * {
    display: block;
}

.input-group-wrapper{
    border: 1px solid gray;
    border-radius: 4px;
    background: #2b2c2d;
    padding: 5px;
}

#settings-tools > *{
    display: block;
    margin: 1rem;
}

#header{
    display: flex;
    justify-content: space-between;
}

#account-panel{
    display:flex;
    flex-flow: row;
}

#account-panel > *{
    margin: 0 .5rem;
    display: flex;
    align-items: center;
}

a{
    color: white;
}

a:hover{
    color: #aaaaaa;
    text-decoration: none;
}

#entry-link{
    padding-right: 0;
    padding-left: 0;
}

#statusbar {
    position: fixed;
    bottom: 0;
    right: 0;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    padding: 2px 4px;
    margin: 0;
    border-radius: 4px 0 0 0;
    background-color: #ffffff;
    color: #808080;
}

div.table{
    border: 1px solid #aaaaaa;
    display: inline-block;
    border-spacing: 0;
    width: fit-content;
}

div.th{
    background-color: #28a745;
    border: 1px solid #c87f0a;
    display: table-cell;
}

div.td{
    border: 1px solid #aaaaaa;
    display: flex;
    align-items: center;
}

input.editable-cell{
    width: 100%;
    height: 100%;
}

select.options-cell{
    width: 100%;
    height: 100%;
}